---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Programmer in SEDP with 5 years + of experience in software and web development. Dominion of various programming
    languages, frameworks, CMS and graphics engines. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites, logos and other ones.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in Information Technology"
      subtitle="2010 to 2015 at Bicol University, Legazpi City, Albay, Philippines"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Posting and Placement System (Thesis)"
      subtitle="2015 at Bicol University, Legazpi City, Albay Philippines"
      desc="A website for employers and employees to post and apply for jobs as well as create an appointment online for an interview. Technologies: HTML, CSS, PHP, MYSQL"
    />
    <TimeLineElement
      title="IT Support Staff"
      subtitle="From 2015 to 2016 at the Department of Agrarian Reform Regional Office 5, Legazpi City, Albay Philippines"
      desc="IT support staff. Troubleshooting PC hardwares, printers, and network."
    />
    <TimeLineElement
      title="System Developer"
      subtitle="From 2016 to 2021 at Solutions Management Systems Inc., Cagayan de Oro City, Misamis Oriental, Philippines"
      desc="Developed Payroll System, Dormitory Reservation System, and Vehicle Information Database System. Software support for Dealership Management System. Technologies: Angular JS, Node.js, Bitbucket, MySQL, Boostrap 3, HTML, CSS, JavaScript, VB.NET"
    />
    <TimeLineElement
      title="Freelance Full Stack Dev"
      subtitle="From May 2016 to Dec 2021 for Urban Enterprises, Victoria, Australia"
      desc="Develop and Debug the existing CRMS. Technologies: Vue.js, C#, Gitlab, MSSQL, Boostrap 3, HTML, CSS, JavaScript"
    />
    <TimeLineElement
      title="Programmer/IT Officer"
      subtitle="From March 2022 to January 2024 for SEDP - Microfinance NGO, Legazpi City, Albay, Philippines"
      desc="Maintain existing ERP - Loan Management System, Network Administration. Technologies: Laravel, Laravel Forge, Digital Ocean, Vue.js, FoxPro, Gitlab, MySQL, Boostrap 3, HTML, CSS, JavaScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2" hidden>
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Filipino (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>Laravel</li>
    <li>VB.NET</li>
    <li>PHP</li>
    <li>MSSQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>AngularJS</li>
    <li>Vue.js</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Tailwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>Scrum</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Office Suite</li>
  </ul>
</BaseLayout>
